
%h2 Oferta Monitorias

%table#disciplinas
  %thead
    %tr
      %th Nome da Disciplina
      %th Professor
      %th Vagas
      %th Disponível
  %tbody
    -if (signed_in?)
      -if(current_user.admin_role?||current_user.professor_role?)
        - @disciplinas.each do |disciplina|
          %tr
            %td= link_to "#{disciplina.nome}", disciplina_url(disciplina)
            /%dt= link_disciplinas.nome
            %td= disciplina.professor
            %td= disciplina.vagas
            -if (disciplina.ativa)
              %td Disponível
            -else
              %td Fechada

      -else
        - @disciplinas.each do |disciplina|
          -if (disciplina.ativa)
            %tr
              %td= disciplina.nome
              /%dt= link_disciplinas.nome
              %td= disciplina.professor
              %td= disciplina.vagas
              %td Disponível
    -else
      - @disciplinas.each do |disciplina|
        -if (disciplina.ativa?)
          %tr
            %td= link_to "#{disciplina.nome}", disciplina_url(disciplina)
            /%dt= link_disciplinas.nome
            %td= disciplina.professor
            %td= disciplina.vagas
            -if (disciplina.ativa)
              %td Disponível
            -else
              %td Fechada


-if (signed_in?)
  -if (current_user.admin_role? || current_user.professor_role?)
    %br
      = link_to image_tag('adicionar.png'), new_disciplina_url
