
%h2 Oferta Monitorias

%table#disciplinas
  %thead
    %tr
      %th Nome da Disciplina
      %th Professor
      %th Vagas
  %tbody
    - @disciplinas.each do |disciplina|
      %tr
        %td= link_to "#{disciplina.nome}", disciplina_url(disciplina)
        /%dt= link_disciplinas.nome
        %td= disciplina.professor
        %td= disciplina.vagas

%br
= link_to image_tag('adicionar.png'), new_disciplina_url
