%h2 Cadastrar Disciplinas

= form_tag disciplinas_url, :method => :post do

  = label :disciplina, :nome, 'Nome'
  - oferta_lista = []
  - @ofertadas.each do |o|
    - oferta_lista += [o.nome]
  = select :disciplina, :nome, oferta_lista

  = label :disciplina, :vagas, 'Vagas'
  = text_field :disciplina, :vagas

  = label :disciplina, :professor, 'Professor'
  - professor_lista = []
  - @professores.each do |professor|
    - professor_lista += [professor.nome]
  = select :disciplina, :professor, professor_lista

  = submit_tag 'Salvar'

= link_to 'voltar', disciplinas_path
