%h1 Editar Professor

= form_tag professores_url(@professor), :method => :put do

  = label :professor, :nome, 'Nome*'
  = text_field :professor, :nome

  = label :professor, :email, 'Email*'
  = text_field :professor, :email

  = label :professor, :sala, 'Sala*'
  = text_field :professor, :sala

  = submit_tag 'Editar'

= link_to 'voltar', professores_url
