-#  This file is app/views/movies/index.html.haml
-if current_user.nil?
	%li= link_to "Sign in", new_user_session_path

-if signed_in?
	-if current_user.student_role?
		%h2 Suas inscrições

		%table#candidatos
			%thead
				%tr
					%th Nome
					%th Matricula
					%th Tipo de Monitoria
					%th Semestre
					%th Prioridade
			%tbody
			- @candidatos.each do |candidato|
				-if (current_user.id == candidato.id_of_user)
					%tr
						%td= link_to "#{candidato.nome}", candidato_url(candidato)
						%td= candidato.matricula
						%td= candidato.monitoria
						%td= candidato.semestre
						%td= candidato.prioridade
		%br
		= link_to image_tag('adicionar.png'), new_candidato_url

-else
	%h2 Candidatos

	%table#candidatos
		%thead
			%tr
				%th Nome
				%th Matricula
				%th Tipo de Monitoria
				%th Semestre
				%th Prioridade
		%tbody
		- @candidatos.each do |candidato|
			%tr
				%td= link_to "#{candidato.nome}", candidato_url(candidato)
				%td= candidato.matricula
				%td= candidato.monitoria
				%td= candidato.semestre
				%td= candidato.prioridade
