=#qualquer dúvida do Haml http://www.htmltohaml.com/
%h2 Inserir Candidato

= form_tag candidatos_path, :method => :post do

	= label :candidato, :nome, 'Nome'
	= text_field :candidato, :nome
	%br
	= label :candidato, :matricula, 'Matrícula'
	= text_field :candidato, :matricula
	%br
	= label :candidato, :disciplina, 'Disciplina'
	- oferta_lista = []
	- @lista_disciplinas.each do |o|
		- oferta_lista += [o.nome]
	= select :candidato, :disciplina, oferta_lista
	%br
	= label :candidato, :monitoria, 'Tipo de monitoria'
	= select :candidato, :monitoria, ['Voluntaria','Remunerada']
	%br
	%br
	= label :candidato, :semestre, 'Cursa qual semestre'
	= select :candidato, :semestre, [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18]
	%br
	%br
	= label :candidato, :prioridade, 'Prioridade do Candidato'
	= select :candidato, :prioridade, [0,1,2,3,4,5,6,7,8,9,10]
	%br
	%br
	= hidden_field :candidato, :id_of_user, value: current_user.id
	%br
	%br
	= link_to image_tag('voltar.png'), candidatos_url
	= image_submit_tag('salvar.png')
