%html
  %head
    %title Monitoria CIC
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body  
  - if flash[:sucesso]
    #notice.message= flash[:sucesso]
  - elsif flash[:aviso]
    #warning.message= flash[:aviso]    
    #main
  = yield
